*{
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:#8F87F1;
    --secondary-color:#C68EFD;
    --third-color:#E9A5F1;
    --fourth-color:#FED2E2;

}
body{
    height: 100vh;
}
main{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    padding: 50px;
}
main::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--primary-color);
  opacity: 0.2;
  z-index: -1;
  border-radius: inherit;
}
section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.auth-section{
    border: 1px solid gray;
    border-radius: 10px;
    background-color: white;
}
.loginpage h1{
    margin-bottom: 20px;
    color: rgb(32, 32, 32);
}
.loginpage h1 span{
    background: linear-gradient(to right, var(--primary-color),var(--secondary-color));
    background-clip: text;
    color: transparent;
    font-size: larger;
}
.loginpage,.registerpage{
    padding: 20%;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.loginpage form{
    width: 100%;
}

.loginpage form button{
    width: 100%;
    margin: 15px auto;
    padding: 10px;
    border: none;
    background: linear-gradient(to right,  var(--primary-color),var(--secondary-color));
    border-radius: 10px;
    color: white;
    box-shadow: 0px 0px 3px var(--primary-color);
    cursor: pointer;
}
.loginpage form button:hover{
    box-shadow: 0px 0px 8px var(--primary-color);
}

.loginpage input{
    background: #80808033;
    margin: 15px auto;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    width: 100%;
    box-shadow: 0px 0px 3px gray;
}
.loginpage input::placeholder{
    color: gray;
}
.loginpage input:focus{
    outline: none;
    box-shadow: 0px 0px 5px gray;
    font-weight: 400;
}

.forgot_link{
    display: flex;
    justify-content: end;
}
.forgot_link a{
    text-align: left;
    text-decoration: none;
    color: var(--primary-color);
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
}