body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
table{
    border-collapse: collapse;
    width: 50%;
}
tbody tr:nth-of-type(even){
    background-color: rgba(128, 128, 128, 0.288);
}